name: Manual Build & Push
on: 
  workflow_dispatch:
    inputs: 
      target_env:
        description: 'Select the target environment'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - staging
          - production 
      update_level:
        description: 'Bump version level'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major 
      service_name:
        description: 'Service Name (for tagging)'
        required: true
        default: 'api'  
        type: string

jobs:
  manual-publish:
    runs-on: ubuntu-latest
    environment: ${{ inputs.target_env }}

    permissions:
      contents: write 
      id-token: write 

    steps:
      - uses: actions/checkout@v4
       
      - name: Bump Version Tag
        id: bump_tag
        uses: actions/github-script@v7
        with:
          script: | 
            const { bumpTag } = require('${{ github.workspace }}/.github/scripts/bump-tag.js');
             
            const { latestTag, newTag } = await bumpTag({
              github,
              context,
              service: '${{ inputs.service_name }}',
              env: '${{ inputs.target_env }}',
              updateLevel: '${{ inputs.update_level }}',
              format: 'env-service'  
            });
             
            core.setOutput('new_tag', newTag);

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Google Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.GCP_REGION }}-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GCP_SA_KEY }}

      - name: Collect image metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.GCP_REGION }}-docker.pkg.dev/${{ vars.GCP_PROJECT_ID }}/${{ vars.GAR_REPO }}/${{ vars.IMAGE_NAME }}
          tags: |
            type=raw,value=latest 
            type=raw,value=${{ steps.bump_tag.outputs.new_tag }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}